/* styles.css */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    color: #a8a8a8;
}

h2,
h3,
h5 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #2b818c;
}

h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
}
span{
    color: #08a770;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.main-header {
    text-align: center;
    padding: 5px 0 50PX;
    background: rgb(172, 236, 238);
    background: linear-gradient(66deg, rgba(172, 236, 238, 1) 0%, rgba(221, 236, 240, 1) 48%, rgba(226, 222, 247, 1) 100%);
}
.logo{
    width: 60%;
    margin-bottom: 30PX;
}
.main-header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}

.main-header p {
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
    color: #004a00;
}

.header-video iframe {
    width: 100%;
}

.call-action p {
    text-align: center;
    font-weight: 400;
}


/* CSS */
.button-74 {
  background-color: #47cb3f;
  border: 2px solid #595b5a;
  border-radius: 30px;
  box-shadow: #595b5a 4px 4px 0 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: white;
  color: #004a00;
}

.button-74:active {
  box-shadow: white 2px 2px 0 0;
  transform: translate(2px, 2px);
}



/* Servicios */
.service-description p{
    text-align: justify;
    font-weight: 500;
}
 img{
    width: 100%;
}

/* Beneficios */
/* Estilo general para la sección de beneficios */
.key-benefits {
    padding: 40px 0;
    text-align: center;
    background-color: #77eab7;
}

/* Contenedor de las cards */
.benefits-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}
.benefit-card h3{
    color: #13cd4a;
}

/* Estilo para cada card de beneficio */
.benefit-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 75%;
    /* Ajuste de ancho para 2 cards por fila en pantallas más grandes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect para las cards */
.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo para el título de cada card */
.benefit-card h3 {
    margin-bottom: 10px;
}

/* Estilo para el contenido de las cards */
.benefit-card p {
    color: #555;
    line-height: 1.6;
}

/* Estilo para el hr */
.benefit-card hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}




.testimonials .testimonial {
    margin: 20px 0;
    font-style: italic;
}

.cta {
    position: relative; /* Necesario para que el overlay se posicione correctamente */
    background-image: url('/assets/images/bg-cta.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen para cubrir el área */
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según necesites */
    z-index: 1; /* Coloca el overlay por debajo del texto */
}

.cta > * {
    position: relative;
    z-index: 2; /* Coloca el texto por encima del overlay */
}

.cta h2{
    color: white;
    font-weight: bold;
}
.cta .container{
    padding-bottom: 0;
}

.main-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


/* Responsividad */
@media (min-width: 768px) {
    .logo{
        width: 200px;
    }
    .main-header h1{
        font-size: 2rem;
        text-align: center;
    }
    .main-header p{
        text-align: center;
    }
    .header-video iframe {
        width: 60%;
        height: 600px;
    }

    .service-description .container,
    .cta .container{
        display: flex;
    }
    .text{
        width: 50%;
    }
    img{
        width: 400px;
        margin-left: 150px;
    }

    .benefits-cards{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

 

 