/* Navbar */
.custom-navbar {
    /* Para que el navbar se superponga y sea transparente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: transparent !important;
    /* Sobrescribe el fondo */
    /* Si deseas que sea completamente transparente, usa la propiedad background: none !important; */
}

.navbar-brand {
    color: #fff;
}


/********************************
  ESTILOS PARA LA SECCIÓN PRINCIPAL
*********************************/
.hero {
    /* Ajusta la ruta de tu imagen de fondo */
    background: url('/assets/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    /* Ajusta la altura mínima */
    padding-top: 80px;
    /* Para evitar que el contenido quede debajo del navbar */
    padding-bottom: 80px;
}

/* Para el texto sobre fondo oscuro, en caso de que la imagen sea oscura, 
     podrías usar text-white o un color que contraste bien. */

/* Color del span */
.hero h1{
    font-weight: 700;
}
.hero h1 span {
    color: #1ab3c0;
}
.hero p{
    font-size: 1.1rem;
    font-weight: 600;
}
.hero li{
    font-size: 1rem;
    font-weight: 600;
}

/* Botón de WhatsApp */
.btn-whatsapp {
    width: 90%;
    background-color: #ecaa47;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #d49a3e;
    /* Un tono más oscuro al pasar el mouse */
}

.ratio iframe {
    border: 3px solid #eefdfd;
    border-radius: 15px;
}

/********************************
  SECCIÓN PROBLEMA-SOLUCIÓN
*********************************/
.problem-solution {
    background-color: #f1f1f1;
}
.problem-solution h2{
    font-size: 2.5rem;
    font-weight: 900;
}
/* Encabezado con h2 y un span destacado */
.problem-solution h2 span {
    color: #1ab3c0;
    /* Puedes ajustarlo o mantener el estilo que usas antes */
}
.problem-solution p{
    font-size: 1.8rem;
    font-weight: 700;
}

/* Card horizontal (estilo opcional adicional) */
.horizontal-card .card{
    padding: 10px;
}
.horizontal-card .card-body {
    padding: 1.5rem;
}
.horizontal-card img{
    width: 100%;
}

.horizontal-card .card-title {
    font-weight: 800;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.horizontal-card span{
    color: #1ab3c0;
}

.horizontal-card .card-text {
    font-size: 1rem;
    line-height: 1.4;
}