* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    min-height: 8rem;
    text-align: center;
}

.llamada {
    min-height: 8rem;
}

#agendarBtn {
    margin-right: 10px;
}

#agendarBtn:hover {
    color: #25d366;
    /* Cambia el color al pasar el ratón sobre el botón */
}

.button {
    display: inline-block;
    background-color: #25d366;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto */
    padding: 10px 20px;
    /* Espacio interno del botón */
    border-radius: 5px;
    /* Bordes redondeados */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s;
    /* Transición suave */
    margin-top: 15px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #128c7e;
    /* Cambia el color al pasar el ratón sobre el botón */
}

.button i {
    margin-right: 5px;
    /* Espacio entre el icono y el texto */
}


.testimonios {
    margin-top: 4rem;
    background-color: #d26d0d;
    min-height: 7rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin: 70px 0 100px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
}

.card img {
    width: 10rem;
    border-radius: 50%;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    font-size: 1em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171616;
    height: 50px;
    margin-top: auto;
    text-align: center;
}

/* Responsive */

@media (max-width: 575px) {

    .video {
        width: 90%;
        height: auto;
    }

    .llamada {
        margin-top: 2rem;
        padding: 5px;
    }

    .testimonios {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .card img {
        width: 10rem;
    }
}