body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF8E1; /* Amarillo claro para sensación acogedora */
    color: #424242;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: #E53935; /* Rojo vibrante */
}
h1{
    color: white;
}

.fixed{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

/* Fondo de la sección Hero */
.hero {
    height: 100vh; /* Ocupa toda la pantalla */
    /* background: url('/assets/images/sesion\ fotos\ alimentos.jpg') no-repeat center center/cover; */
    background-color: chocolate;
    position: relative;
}

/* Sombra para mejorar la legibilidad del texto */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura semitransparente */
    z-index: 1;
}

/* Contenido centrado y sobre la sombra */
.hero .container {
    position: relative;
    z-index: 2;
}

/* Botón primario */


.card {
    transition: transform 0.3s;
    background-color: #FFECB3; /* Fondo amarillo suave */
    border: none;
}

.card:hover {
    transform: scale(1.05);
}

.fa-3x {
    margin-bottom: 15px;
}


#contacto {
    margin-top: 50px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.btn-success {
    background-color: #25D366;
    border: none;
}

.btn-success:hover {
    background-color: #1EBE5F;
}


.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.blockquote {
    font-style: italic;
    color: #6c757d;
}
.blockquote-footer{
    background-color: transparent;
}

#contacto {
    margin-top: 50px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    background-color: #E53935;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #D32F2F;
}

.text-dark:hover {
    text-decoration: underline;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #424242;
    color: white;
}
footer a {
    color: #FFB300;
}

footer a:hover {
    text-decoration: underline;
    color: #FFF176;
}
