* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #000000;
}
hr {
  border: none;
  height: 5px;
  background: linear-gradient(to right, #2f4cf2, #86a8e7);
  margin: 20px 0;
}


.hero-spam {
  color: #beaf5c;
  font-weight: bolder;
}

.header {
  background-color: #000000;
}


.hero {
  background-color: #000000;
  padding: 2rem 0;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero-content {
  flex: 1;
  padding: 1rem;
}

.review {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Spinnaker", sans-serif;
}

.hero-content p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #fff;
}

.cta-button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border: 3px solid #E5E900;
  transition: background-color 0.5s ease;
  font-weight: 700;
  text-align: center;
}

.cta-button:hover {
  background-color: #fff;
  color: #000000;
}

.hero-image {
  flex: 1;
  padding: 1rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.benefits {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.benefits > p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(47,76,242,1) 11%, rgba(74,211,253,1) 68%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.benefits h3 {
  font-size: 24px;
  background-color: rgb(227, 226, 223);
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
}

.typing-effect {
  white-space: nowrap;
  display: inline-block;
  font-size: 24px;
  width: 150px;
}

.benefit-list {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.benefit-list ul {
  list-style: none;
  padding-left: 0;
}

.benefit-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.benefit-item:last-child {
  margin-bottom: 0;
}

.icon {
  width: 35px;
  margin-right: 1rem;
  margin-bottom: 15px;
}

.benefit-item p {
  font-family: 'Courier New', Courier, monospace;
  color: #fff; 
  font-size: 1rem;
  text-align: left;
}

.pricing {
  padding: 3rem 0;
}

.pricing h3, .contact-form h3{
  text-align: center;
  margin-bottom: 30px;
  background: linear-gradient(90deg, rgba(47,76,242,1) 11%, rgba(74,211,253,1) 68%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.pricing-card {
  color: #fff;
  padding: 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.pricing-card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #e1bf65;
  text-align: left;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.features li {
  margin-bottom: 0.5rem;
  text-align: left;
}




.contact-form {
  padding: 2rem 0;
}

form {
  width: 50%;
  margin: 0 auto;
  /* padding: 2rem; */
  color: orange;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  display: block;
  width: 40%;
  padding: 0.75rem;
  border: none;
  background-color: #beaf5c;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e1bf65;
}




/* Para dispositivos móviles */
@media (max-width: 767px) {
  .logo {
    width: 80%;
  }


  .hero .container {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 1em;
  }

  .cta-button {
    font-size: 1em;
  }

  .hero .review {
    width: 65%;
    max-width: 300px;
  }


  .benefits {
    padding-top: 50px;
  }

  .benefits p {
    font-size: 1rem;
  }

  .benefits h3 {
    width: 95%;
  }

  form{
    width: 100%;
  }
}

/* Para tabletas */
@media (min-width: 768px) and (max-width: 1300px) {

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .cta-button {
    font-size: 1.2em;
  }

  .hero img {
    width: 100%;
    max-width: 500px;
  }
}