* {
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
/* Botones con clase call-action */
.btn.call-action {
  background: linear-gradient(to right, #dee90a, #008000);
  border-radius: 20px;
}

/* Botones sin clase call-action */
.btn:not(.call-action) {
  background-color: black;
  border-radius: 15px;
  border: 2px solid #008000; /* Borde verde */
}

/* Estilos generales para todos los botones */
.btn {
  color: white; /* Color del texto */
  border: none; /* Quitamos el borde por defecto */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambio de cursor al pasar por encima */
}
.btn:hover{
  color: #fff;  
}
/* barra de navegacion */
.navbar{
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  font-weight: 500;
  margin-left: 30px;
}

.navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar-nav .nav-link {
  position: relative;
  color: #fff;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
  width: calc(100% - 20px);
  /* Cambia el valor de 20px según el espaciado deseado */
}

/* herooo */

.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* overflow: hidden; */
  /* Ajusta esto según el tamaño que desees para el header */
}

.video-container {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-content {
  position: absolute;
  bottom: 35px;
  /* Ajusta esto según la distancia que desees del botón al borde inferior */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}



/* CARACTERISTICAS */



.features {
  padding: 60px 0;
}

.features .lead {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.features h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.features p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.features .btn {
  font-size: 1.25rem;
}



.services {
  padding: 60px 0;
  background-color: #a2a4a5;
}

.services .lead {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.services h3 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.services .card {
  height: 100%;
}

.services .card-img-top {
  height: 200px;
  object-fit: cover;
}

.testimonials .card {
  border: none;
  background: #fff;
  transition: all 0.3s ease;
}

.testimonials .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.contact {
  display: flex;
  align-items: stretch;
}

.contact .card {
  height: 100%;
}

.contact .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact form {
  flex-grow: 1;
}

.contact iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 725px) {
  .navbar-nav .nav-item {
    margin-bottom: 20px;
    /* Aumenta el espacio vertical */
  }
}

@media (max-width: 768px) {
  .header{
    background-color: black;
  }
  .d-flex{
    padding: 15px;
  }
  .navbar-collapse {
    background-color: black; /* Color blanco para el fondo */
    border-radius: 15px;
  }

  .header {
    height: auto;
  }

  .video-container {
    flex: none;
    width: 100%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  #bg-video {
    width: 100%;
    height: auto;
  }

  .header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: none;
    padding: 10px;
  }
}