* {
  padding: 0;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Botones con clase call-action */
.btn.call-action {
  background: linear-gradient(to right, #dee90a, #008000);
  border-radius: 20px;
}

/* Botones sin clase call-action */
.btn:not(.call-action) {
  background-color: black;
  border-radius: 15px;
  border: 2px solid #008000;
  /* Borde verde */
}

/* Estilos generales para todos los botones */
.btn {
  color: white;
  /* Color del texto */
  border: none;
  /* Quitamos el borde por defecto */
  padding: 10px 20px;
  /* Espaciado interno */
  cursor: pointer;
  /* Cambio de cursor al pasar por encima */
}

.btn:hover {
  color: #fff;
}

.color-head {
  color: #c9c9c9;
}
.color-p{
  color: #00938a;
  font-weight: 600;
  font-size: 1.1rem;
}

/* barra de navegacion */
.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 15rem;
  height: auto;
}

.nav-item {
  font-weight: 500;
  margin-left: 30px;
}

.navbar-nav {
  flex: 1;
  justify-content: center;
}

.navbar-nav .nav-link {
  position: relative;
  color: #fff;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
  width: calc(100% - 20px);
  /* Cambia el valor de 20px según el espaciado deseado */
}

/* herooo */

.header {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* overflow: hidden; */
  /* Ajusta esto según el tamaño que desees para el header */
}

.video-container {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-content {
  position: absolute;
  bottom: 35px;
  /* Ajusta esto según la distancia que desees del botón al borde inferior */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}



/* CARACTERISTICAS */
.features {
  background-color: black;
  padding: 80px;
  color: #fff;
  border-radius: 0 0 30px 30px;
}

.features h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.features p {
  text-align: center;
  margin-bottom: 40px;
  color: #a3ff00;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.card img {
  width: 40%;
  height: auto;
  padding-left: 10PX;
}

.card h3 {
  padding: 10px;
  margin: 0;
  color: #069e8c;
}

.card p {
  margin-top: 15PX;
  padding: 10px;
  color: black;
}

/* RECENT PROYECTS                   */
.recent-projects{
  padding-top: 90px;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  /* padding: 20px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-info {
  flex: 1;
}

.project-card img {
  width: 300px;
  height: 100%;
  border-radius: 8px;
}

.description {
  padding: 30px;
}

.project-card h3 {
  margin-top: 0;
}

.description-p {
  color: #c9c9c9;
}
/* ABOUT */

@keyframes moveLeftRight {
  0% {
      transform: translateX(100%); /* Comienza fuera de la vista a la izquierda */
  }
  100% {
      transform: translateX(-100%); /* Termina fuera de la vista a la derecha */
  }
}


.about {
  overflow: hidden; /* Esto asegura que el h1 no se vea fuera del contenedor */
  position: relative;
  width: 100%; /* Ajusta según sea necesario */
  padding: 70px 0px;
}

.about h1 {
  animation: moveLeftRight 10s infinite linear; /* Ajusta la duración a tus necesidades */
  position: relative;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-size: 4rem;
}

/* Services */
.explain{
  width: 40%;
  font-size: 1.3rem;
  font-weight: 400;
}



/* Dispositivos mobiles */
@media (max-width: 767px) {
  .logo {
    width: 10rem;
    height: auto;
    margin-left: 20px;
  }

  .header {
    background-color: black;
    height: auto;
  }

  .d-flex {
    padding: 15px;
  }

  .navbar-collapse {
    background-color: black;
    /* Color blanco para el fondo */
    border-radius: 15px;
  }

  .video-container {
    flex: none;
    width: 100%;
    height: auto;
    margin-top: 170px;
    margin-bottom: 100px;
  }

  #bg-video {
    width: 100%;
    height: auto;
  }

  .header-content {
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: none;
    padding: 10px;
  }

  .features{
    padding: 70PX 40PX;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .projects-container {
    padding: 20px 10px;
  }

  .project-card {
    flex-direction: column;
  }

  .project-card img {
    width: 100%;
  }

  @keyframes moveLeftRight {
    0% {
        transform: translateX(100%); /* Comienza fuera de la vista a la izquierda */
    }
    100% {
        transform: translateX(-450%); /* Termina fuera de la vista a la derecha */
    }
  }
  
  
  .about {
    overflow: hidden; /* Esto asegura que el h1 no se vea fuera del contenedor */
    position: relative;
    width: 100%; /* Ajusta según sea necesario */
    padding: 70px 0px;
  }
  
  .about h1 {
    animation: moveLeftRight 7s infinite linear; /* Ajusta la duración a tus necesidades */
    position: relative;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 4rem;
  }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 1300px) {
  .logo {
    width: 10rem;
    height: auto;
    margin-left: 20px;
  }

  .header {
    background-color: black;
    height: auto;
  }

  .d-flex {
    padding: 15px;
  }

  .navbar-collapse {
    background-color: black;
    /* Color blanco para el fondo */
    border-radius: 15px;
  }


  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 calc(50% - 40px);
    /* 2 cards per row with gap */
  }


  .project-card img {
    height: 100%;
  }

  
}